@use '../../../var.scss' as v;

.order {
    background-color: #fefdfa;
    border-radius: 8px;
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;

    &__quantity {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & section {
            display: flex;
            justify-content: space-between;

            & small {
                display: flex;
                gap: 20px;
                font-size: 14px;
                color: gray;
            }

        }

      


    }
    &__price{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
        border-bottom: 2px solid v.$gray-color;
        
    }
    & strong {
        color: v.$dark-color;
        display: flex;
        justify-content: space-between;
    }
}
.allOrders{
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    & small{
        text-align: center;
        font-size: 18px;
    }
    & div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5%;


        & section {
            display: flex;
            justify-content: space-between;

            & figure {
                display: flex;
                gap: 10px;

                & small{
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    gap: 10px;

                    & span {
                        color: v.$gray-color;
                        font-size: 12px;
                    }
                }
            }
            & strong{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                color: green;

                & img{
                    width: 10px;
                }
            }
        }
    }
}