@use '../../var.scss' as v;


.adress {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
 

    &__main {
        gap: 20px;
        height: 500px;
        width: 375px;
        display: flex;
        flex-direction: column;
    

        &__back{
            text-decoration: none;
            color: black;
            height: 30px;
            display: flex;
            align-items: center;
            font-size: 18px;

            & small {
                width: 90%;
                display: flex;
                justify-content: center;
            }
          

            
        }

        & form, section {
            display: flex;
            align-items: center;
            height: 50px;
            border-bottom: 1px solid v.$gray-color;



            & img {
                height: 25px;
                width: 30px;
            }

            & label, small {
                height: 90%;
                display: flex;
                font-size: 14px;
                color: gray;
                flex-direction: column;
                width: 85%;

                & input {
                    border: none;
                    outline: none;
                    height: 100%;
                }
            }
            & small {
                flex-direction: row;
                align-items: center;
               

            }

            & button {
                cursor: pointer;
                height: 40px;
                width: 10%;
                background-color: v.$main-color;
                border: none;
                border-radius:8px;

            }
        }

        


    }
    & button {
        height: 40px;
        border: none;
        border-radius:8px;
        background-color: v.$main-color;
        font-size: 15px;
        width: 375px;

        
    }
}
@media (max-width : 590px){
    .adress {
        padding-bottom: 100px;

        &__main {
            width: 100%;
            
            
        }
    }
}