@use '../../var.scss' as v;

.restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 10px;

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

    }

    &__dish {
        display: flex;
        gap: 20px;
        width: 100%;


        &__left {
            width: 50%;
            height: 420px;
            display: flex;
            justify-content: start;
            position: relative;
            padding: 20px;

            & img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;


            }

        }

        & div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 40%;
            padding: 20px;

            & h4 {
                font-size: 20px;
            }



            & p {
                font-size: 18px;
            }

            & section {
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 18px;
                justify-content: space-between;

                & figure img {
                    height: 20px;
                }


            }
        }

    }

    &__btns {
        display: flex;
        width: 100%;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 40px;
        justify-content: space-around;

        & button {
            width: 200px;
            height: 40px;
            border: none;
            background-color: v.$complementary;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: v.$main-color;
            }
        }
    }

    &__dishes {

        display: flex;
        gap: 25px;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;


        & figure {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 40%;
            height: 450px;

            & img {
                border-radius: 8px;
                height: 80%;
                object-fit: cover;
                width: 100%;
            }

            & figcaption {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 20px;
            }

            &:hover {
                scale: 1.1;
                transition: .5s;
            }
        }

    }
}

.dish {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & img {
        cursor: pointer;
    }

    &__info {
        display: flex;
        gap: 10px;
        padding: 20px;
        width: 100%;
        height: 100vh;


        & figure {
            width: 50%;
            height: 100%;
            border-radius: 8px;
            padding: 40px;


            & img {
                object-fit: cover;
                border-radius: 8px;
                height: 100%;
                width: 100%;

            }

        }

        & section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 50%;
            padding: 40px;

            & h3 {
                color: v.$dark-color;
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                align-items: center;
                padding-inline: 10px;


                & span {
                    font-size: 14px;
                    color: v.$gray-color;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

            }

            & p {
                padding-inline: 10px;
                font-size: 14px;
                color: v.$gray-color;
            }

            & h5 {
                color: v.$gray-color;
                font-size: 18px;
                padding: 10px;

            }

            & label {
                padding-inline: 10px;
                display: flex;
                width: 100%;
                gap: 10px;
                align-items: center;
                cursor: pointer;


                & small {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                }

                & input {
                    appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius: 4px;
                    background-color: #f2f2f2;
                    cursor: pointer;


                    &:checked {
                        background-color: v.$main-color;
                        background-image: url(../../assets/check.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 10px;



                    }

                    &:checked~small span {
                        color: v.$main-color;
                    }

                }


            }
        }


    }

    &__btns {
        position: absolute;
        right: 50px;
        bottom: 50px;
        display: flex;
        height: 40px;
        justify-content: end;
        padding-inline: 10px;
        margin-bottom: 10px;
        gap: 100px;
   

        & section {
            display: flex;
            align-items: center;
            height: 40px;
            background-color: #f2f2f2;
            width: 140px;
            justify-content: space-between;
            border-radius: 8px;

            & small {
                height: 100%;
                width: 33%;
                background-color: transparent;
                border: none;
                font-size: 28px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

        &__pay {
            background-color: rebeccapurple;
            border: none;
            background-color: v.$main-color;
            width: 220px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            & span {
                font-size: 18px;
            }
        }


    }
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;

    & span {
        text-align: center;
        width: 100%;
        color: black;

    }


}

.newOrder {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100vh;
    padding: 10px;
    gap: 20px;

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h4 {
            color: v.$dark-color;
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & small {
                display: flex;
                align-items: center;
                height: 40px;
                gap: 10px;
                cursor: pointer;

                & span {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                }

                & img {
                    height: 15px;
                }

            }

            &__btns {
                display: flex;
                gap: 10px;
                width: 100%;
                justify-content: space-between;

                & button {
                    height: 35px;
                    width: 120px;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    &:hover {
                        background-color: v.$main-color;
                    }

                }
            }

            &__products {
                display: flex;
                flex-direction: column;
                gap: 10px;


                & figure {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & img {
                        border-radius: 8px;
                    }

                    & section {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        cursor: pointer;

                        & p {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #f2f2f2;
                            width: 25px;
                            height: 25px;



                        }

                        & small {
                            padding-left: 15px;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            & span {
                                width: 50px;
                                color: v.$gray-color;
                            }
                        }
                    }


                }

            }
        }

        &__btn1,
        &__btn2 {
            width: 40px;
            height: 25px;
            border: none;
            cursor: pointer;
        }

        &__btn1 {
            border-radius: 8px 0 0 8px;
        }

        &__btn2 {
            border-radius: 0 8px 8px 0;
        }

        & textarea {
            border: 1px solid v.$gray-color;
            outline: none;
            border-radius: 8px;
            padding: 10px;

        }

        &__bottom {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            gap: 20px;

            & div {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid v.$gray-color;
                padding-bottom: 10px;
                gap: 10px;

                & small {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                }
            }

            & strong {
                display: flex;
                justify-content: space-between;
            }

            & button {
                height: 40px;
                border-radius: 8px;
                border: none;
                background-color: v.$main-color;
                cursor: pointer;
            }
        }
    }
}

.currentOrder {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding-inline: 20%;

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &__status {
            display: flex;
            flex-direction: column;
            background-color: #fffbe9;
            text-align: center;
            gap: 10px;
            padding: 5px;

            & img {
                width: 80px;
                align-self: center;
            }

            & section {
                display: flex;
                gap: 10px;
                justify-content: space-around;
                font-size: 12px;

                & label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    & input {
                        appearance: none;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: v.$gray-color;
                        cursor: pointer;


                        &:checked {
                            background-color: v.$main-color;
                            background-image: url(../../assets/doneW.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 10px;
                            color: white;



                        }



                    }
                }
            }


        }

        &__products {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            overflow-y: scroll;

            & figure {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                & img {
                    border-radius: 8px;
                    width: 50px;
                    height: 40px;
                    object-fit: cover;
                }

                & section {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    cursor: pointer;
                    gap: 10px;
                    font-size: 14px;

                    & small,
                    span {
                        color: v.$gray-color;
                    }

                    & strong {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        color: v.$dark-color;


                    }

                }


            }
        }
        & form {
            margin-top: 20px;
        }
    }
}

@media(max-width: 1000px) {
    .dish {

        &__btns {
            right: 0;
            bottom: 0;
        }
    }
}

@media(max-width: 730px) {
    .dish {
        &__info {
            flex-direction: column;
            padding: 0;

            & figure {
                width: 100%;
                padding: 0;
                height: 40%;
            }

            & section {
                width: 100%;
                padding: 10px;
            }
        }

        &__btns {
            position: relative;
        }

    }
}

@media(max-width: 730px) {
    .restaurant {
        height: 100%;

        &__dish {
            height: 160px;
            width: 100%;

            &__left {
                height: 100%;
                padding: 0;
                width: 40%;

                & img {
                    clip-path: polygon(100% 0, 100% 14%, 65% 100%, 0 100%, 0 0);
                    width: 100%;


                }
            }
            & div {
                padding: 0;
                width: 60%;
                gap: 10px;

                & h4, p {
                    font-size: 12px;
                }
                & section {
                    font-size: 14px;

                    & figure img{
                        height: 14px;
                    }
                }
                
            }
        }
        &__dishes {

            & figure {
                height: 180px;

                & figcaption {
            
                    font-size: 15px;
                }
            }
        }
    }
    .currentOrder {
        padding: 10px;
    }
}