//Colores

$main-color : #FFE031;
$dark-color : #414141;
$gray-color : #A7A7A7;
$background : linear-gradient(180deg,
    #FFFEFA 0%,
    #FFE031 0%,
    #FFFEFA 0.01%,
    #FCFCFC 100%);
$complementary : #F2F2F2;